/Report/Report_main.aux
/Report/Report_main.bbl
/Report/Report_main.blg
/Report/Report_main.log
/Report/Report_main.out
/Report/Report_main.synctex.gz
/Report/Report.texnicle
/.gitignore
/docs/_build/doctrees/
/Report/Chapters/04_Discussion.aux
/Report/Chapters/Code.aux
/Report/Chapters/Default_parameters.aux
/Report/Chapters/DHS.aux
/Report/Chapters/Effective_parameters.aux
/Report/Chapters/Fit_details.aux
/Report/Chapters/FJC.aux
/Report/Chapters/Marko-Siggia.aux
/Report/Chapters/Stretchme_functions.aux
/Report/Chapters/01_Introduction.aux
/Report/Chapters/02_Theory.aux
/Report/Chapters/04_Methods.aux
/Report/Chapters/04_Results.aux
/Report/Chapters/05_Discussion.aux
/Report/Chapters/03_Methods.aux
