/Report/Report_main.aux
/Report/Report_main.bbl
/Report/Report_main.blg
/Report/Report_main.log
/Report/Report_main.out
/Report/Report_main.synctex.gz
/Report/Report.texnicle
/.gitignore
/docs/_build/doctrees/
